{% extends 'main.html' %}
{% load widget_tweaks %}
{% block content%}

    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'login' %}" method="POST" novalidate>
                      {% csrf_token %}
                         {% for field in form.visible_fields %}
                           <div class="form-group">
                               {{ field.label_tag }}
                                  {% render_field field class="form-control" %}
                                    {% if messages%}
                                      {% for message in messages %}
                                        <span style="color:red">{{ message }}</span>
                                      {% endfor %}
                                     {% endif %}
                         {% endfor %}
                         <br>
                         <div style="display:flex; flex-direction: column; gap:0.5rem;">
                             <input type="submit" value="Login" class="btn  btn-block btn-primary"> 
                             <p>You Don't Have an Account Yet?<span><a href="{% url 'register'%}"> Register</a></span></p> 
                            </div>
                           </div>
                          
                    </form>
                 </div>
                    </div>   
                </div>
              </div>
            </div>
        </div>
      </section>

      {% endblock content%}
