{% extends 'application/mainhead.html'%} {% block content%}
<div class="container">
  <h1 style="flex-direction: column; margin-bottom: 2rem; margin-top: 2rem">
    APPLICATION DETAIL
  </h1>
  <h2>Your application is in progress</h2>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 25%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</div>

<div
  style="flex-direction: column; margin-top: 2rem"
  class="container align-items-center d-flex"
>
  {%if request.user.is_authenticated%}

  <div class="container d-flex justify-content-between">
    <div class="col-12">
      <ul>
        <li>First Name: {{form.first_name}}</li>
        <li>Last Name: {{form.last_name}}</li>
        <li>Email: {{form.email}}</li>
        <li>Phone Number: {{form.phone_number}}</li>
        <li>Passprt Number: {{form.passprt_number}}</li>
        <li>
          Visa Type: {% if form.application_type == 1%}
          <span>Business </span> {% elif form.application_type == 2%}
          <span>Work </span> {% elif form.application_type == 3%}
          <span>School </span> {% elif form.application_type == 4%}
          <span>Medical </span> {%endif%}
        </li>

        {% if form.passport_photo%}
        <li>
          Passport Photo:
          <img class="img-fluid" src="{{form.passport_photo.url}}" alt="" />
        </li>
        {%endif%}
      </ul>
    </div>
  </div>
  <div iv class="container">
    {% if request.user.is_superuser%}

    <a class="btn align-right btn-link" href="{% url 'dashboard' %}"
      >Back to Dashboard</a
    >
    {%else%}
    <p>If You want to update!</p>
    <a class="btn align-right btn-link" href="{% url 'home'  %}"
      >Contact Admin</a
    >
    <div style="display: block">
      <a class="btn align-right btn-link" href="{% url 'dashboard' %}"
        >Back to Dashboard</a
      >
    </div>

    {% endif%}
  </div>
  {% endif%}
</div>
{% endblock content%} {% include 'footer.html'%}
